---
import Layout from "../components/Layout.astro"
import Card from "../components/Card.astro"

const cards: Array<{title: string, description: string, url: string, img: string}> = [
	{
		title: "Pepperoni",
		description: "Pepperoni pizza is a universally loved classic. It is characterized by its generous pepperoni topping, which is a type of spicy and slightly smoked salami. This sausage is placed on a layer of melted mozzarella cheese and a base of rich and tasty tomato sauce. The dough can range from thin and crispy to thick and fluffy, depending on the style. Pepperoni, when cooked, releases oils that mix with the cheese, creating a distinctive and delicious flavor.",
        url: "/pepperoni",
		img: "/images/pepperoni.jpg"
	},
	{
		title: "4 Cheese",
		description: "It is a blend of four different types of cheeses, commonly mozzarella, blue cheese, parmesan and gorgonzola or some other soft cheese. This pizza is a cheese lover's paradise, offering a rich and complex combination of flavors and textures. The base of tomato sauce is optional on this pizza, since the focus is on the cheeses that melt to form a creamy and aromatic layer.",
		url: "/cheese",
		img: "/images/4quesos.jpg"
	},
	{
		title: "Mushrooms",
		description: "This pizza features fresh or seasoned mushrooms as the main ingredient. The mushrooms are spread over a layer of mozzarella cheese and tomato sauce. Different types of mushrooms can be used, such as white or portobello, and are often complemented by garlic, onion, and herbs to enhance its flavor. The texture of the mushrooms, along with the melted cheese and crispy crust, makes this pizza a delicious and popular option.",
		url: "/mushrooms",
		img: "/images/mushroom.jpg"
	},
	{
		title: "Hawaiana",
		description: "Hawaiian pizza is known for its distinctive combination of sweet and savory flavors. The main ingredients are pieces of pineapple and ham, arranged on a base of tomato sauce and topped with mozzarella cheese. The pineapple provides a juicy sweetness that contrasts with the saltier, richer flavor of ham, creating a unique flavor experience. It is often a topic of debate among pizza enthusiasts, but remains a popular choice on many menus.",
		url: "/hawaiana",
		img: "/images/hawaiana.jpg"
	},
	{
		title: "Meat",
		description: "It is a delicious combination of various cold meats, such as salami, ham, chorizo and sometimes pepperoni. It is served on a base of tomato sauce and mozzarella cheese. Each type of meat brings its own unique flavor and texture, from the spiciness of the chorizo to the mild, smoky flavor of ham. This pizza is ideal for those who love a protein-rich option full of flavor.",
		url: "/meat",
		img: "/images/Carnes_Frias.jpg"
	},
	{
		title: "Mexicana",
		description: "It incorporates flavors inspired by Mexican cuisine. It may include ingredients such as jalapenos, seasoned beef or chicken, onions, peppers, and sometimes corn or black beans. It is topped with a blend of cheeses, which could include cheddar or Monterey Jack cheese as well as mozzarella. This pizza is known for its spicy flavor profile and abundance of fresh, flavorful ingredients.",
		url: "/mexicana",
		img:"/images/mexicana.webp"
	},
	
]
---

<Layout title="Pizzeria">
	<main>			
		{
			cards.map(({ title, description, url, img }) => {
				return <Card title={title} description={description}  url={url} img={img}/>
			})
		}
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		padding: 1rem;
		grid-gap: 1rem;
	}
</style>