---
import Layout from "../components/Layout.astro"
import GetOrders from "../components/getOrders";
---

<Layout title="Carrito">
    <main>
        <GetOrders client:visible/>
    </main>
</Layout>

<style>

</style>